<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row *ngIf="action != 'edit'" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="action == 'edit'" class="toolbar-bottom py-16" fxLayout="column"
            fxLayoutAlign="left center">
             <span class="title dialog-title">
                {{dialogTitle}} 
            </span>

        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form name="form" (ngSubmit)="addUpdateRole(f)" #f="ngForm">
            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <http-message [data]="errorMsg"></http-message>
                <div class="pr-6 col">
                    <app-form-field validation="required" name="name" [(ngModel)]="role.name" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input appFieldInput matInput name="name" [(ngModel)]="role.name">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-6 col">
                    <app-form-field validation="required" name="slug" [(ngModel)]="role.slug">
                        <mat-form-field appearance="outline">
                            <mat-label>Slug</mat-label>
                            <mat-icon matSuffix class="secondary-text">code</mat-icon>
                            <input appFieldInput matInput name="slug" [(ngModel)]="role.slug">
                        </mat-form-field>
                    </app-form-field>
                </div>
               
            </div>
            
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <div class="buttons">
            <button mat-stroked-button color="primary" (click)="matDialogRef.close()"> Close </button>
            <button *ngIf="action !== 'edit'" mat-stroked-button color="accent" (click)="submit(f)"> ADD </button>
            <button *ngIf="action === 'edit'" mat-stroked-button color="accent" (click)="submit(f)"> SAVE </button>
        </div>
    </div>
</div>