<div id="set-password" fxLayout="column">

    <div id="set-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <!-- <div class="logo m-20">
            <img src="assets/images/logos/logo.png">
        </div> -->
        <div id="set-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

           

            <div class="title">RESET PASSWORD</div>

            <form name="setPassForm" [formGroup]="setPassForm" (ngSubmit)="doSetPassword()" novalidate>
                <http-message [data]="setPasswordResponse" [type]="setPasswordType"></http-message>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confrim Password</mat-label>
                    <input matInput type="password" formControlName="confrim_password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Confrim password is required
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="setPassForm.invalid">
                    SET PASSWORD
                </button>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <a class="forgot-password" routerLink="/login"> Already Have Account? </a>
                </div>

            </form>

        </div>

    </div>

</div>