// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.height-100{
    height: 100%;
}
.container {
    max-width: 100% !important;
    padding: 0;
}
.nav-item{
    width: 100% ;
}
.mat-radio-label-content{
   margin-right: 10px !important;
}
.fix.mat-fab {
    position: absolute;
    padding: 0;
    bottom: 12px;
    z-index: 99;
    right: 12px;
}
.header .search-wrapper {
    width: 100%;
    max-width: 480px;
    border-radius: 28px;
    overflow: hidden;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: #fff;
    color: #333;
}
.header .search-wrapper .search {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 18px;
}
.header .search-wrapper .search input {
    width: 100%;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    padding: 0 16px;
    border: none;
    outline: 0;
}


