<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">
                    <span>General Information</span>
                    <button mat-icon-button type="button" (click)="toggleEditView()" [matTooltip]="'Edit'">
                        <mat-icon>
                            edit
                        </mat-icon>
                    </button>
                </div>                
            </header>

            <div class="content" *ngIf="!is_edit">
                <div class="info-line">
                    <div class="title">Name</div>
                    <div class="info">{{user?.first_name}} {{user?.last_name}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Email</div>
                    <div class="info">{{user?.email}} {{user?.email}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Date of Birth</div>
                    <div class="info">{{user.dob}}</div>
                </div>

                <div class="info-line">
                    <div class="title">Gender</div>
                    <div class="info">{{user.gender}}</div>
                </div>

            </div>

            <div class="content" *ngIf="is_edit">
                <form name="form" [formGroup]="userForm" (ngSubmit)="f.form.valid && editUser()" #f="ngForm" novalidate>
                    <http-message [data]="rateHttpResponse" [type]="rateHttpResponseType"></http-message>
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Fist Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="first_name" formControlName="first_name" matInput required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Last Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input name="last_name" formControlName="last_name" matInput>
                        </mat-form-field>
                    </div>


                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Email</mat-label>
                            <mat-icon matSuffix class="secondary-text">email</mat-icon>
                            <input name="email" formControlName="email" matInput type="email" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Birthday</mat-label>
                            <input matInput [matDatepicker]="birthdayDatePicker" name="birthday" formControlName="dob">
                            <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #birthdayDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                            <mat-label>Gender</mat-label>
                            <mat-radio-group name="gender" formControlName="gender">
                                <mat-radio-button color="primary" value="male">Male</mat-radio-button>
                                <mat-radio-button color="primary" value="female">Female</mat-radio-button>
                            </mat-radio-group>
                    </div>

                    
                    <div fxLayout="row" fxLayoutAlign="end end">
                        <button mat-raised-button color="basic" mat-button class="save-button" [disabled]="userForm.invalid"
                            aria-label="SAVE">Save </button>
                    </div>

                    <!--    <div fxLayout="row" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Status</mat-label>
                                  
                                    <mat-slide-toggle color="primary" class="example-margin" name="status"  (change)="user.status = ($event.checked ? 'active' : 'inactive')" [checked]="user.status == 'active'"> Active </mat-slide-toggle>
                                </mat-form-field>
                            </div> -->

                    <!-- <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Notes</mat-label>
                                    <textarea name="notes" formControlName="notes" matInput type="text" max-rows="4"></textarea>
                                </mat-form-field>
                            </div> -->

                </form>
            </div>

        </div>
    </div>