<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row *ngIf="action != 'edit'" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="action == 'edit'" class="toolbar-bottom py-16" fxLayout="column"
            fxLayoutAlign="left center">
            <!-- <span class="title dialog-title">
                <img [src]="user.profile_pic" class="avatar user-avatar" [alt]="user.name" /> {{dialogTitle}} -
                {{user.first_name}} {{user.last_name}}
            </span> -->

        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form name="form" (ngSubmit)="addUpdateUser(f)" #f="ngForm">
            <http-message [data]="errorData"> </http-message>

            <div fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col" appearance="outline" fxFlex>
                    <div class="lable">
                        <mat-label>User Type</mat-label>
                    </div>
                    <app-form-field class="form-group" validation="required" name="user_type"
                        [(ngModel)]="user.user_type">
                        <mat-radio-group appFieldInput name="user_type" [(ngModel)]="user.user_type"
                            aria-label="Select an Gender">
                            <mat-radio-button color="primary" value="admin">Admin</mat-radio-button>
                            <mat-radio-button color="primary" value="user">User</mat-radio-button>
                        </mat-radio-group>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required" name="first_name" [(ngModel)]="user.first_name" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input appFieldInput matInput name="first_name" [(ngModel)]="user.first_name">
                        </mat-form-field>
                    </app-form-field>
                </div>
                <div class="pl-4 col">
                    <app-form-field validation="required" name="last_name" [(ngModel)]="user.last_name" fxFlex>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                            <input matInput appFieldInput name="last_name" [(ngModel)]="user.last_name">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group" fxLayout="row" fxLayoutAlign="start start">
                <div class="pr-4 col">
                    <app-form-field validation="required|email" name="email" [(ngModel)]="user.email">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                            <input appFieldInput matInput name="email" [(ngModel)]="user.email">
                        </mat-form-field>
                    </app-form-field>
                </div>
                <div class="pr-4 col" *ngIf="action != 'edit'">
                    <app-form-field validation="required" name="password" [(ngModel)]="user.password">
                        <mat-form-field appearance="outline">
                            <mat-label>password</mat-label>
                            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                            <input appFieldInput matInput type="password" name="password" [(ngModel)]="user.password">
                        </mat-form-field>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group">
                <div class="pr-4 col">
                    <app-form-field name="dob" [(ngModel)]="user.dob">
                        <mat-form-field appearance="outline">
                            <mat-label>Date of Bitrth</mat-label>
                            <mat-icon matSuffix class="secondary-text">date_range</mat-icon>
                            <input appFieldInput matInput [matDatepicker]="dobDatePicker" (click)="dobDatePicker.open()"
                                name="dob" [(ngModel)]="user.dob" #dob="ngModel" [max]="tomorrow">
                        </mat-form-field>
                        <mat-datepicker #dobDatePicker></mat-datepicker>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group">
                <div class="pr-4 col">
                    <app-form-field class="form-group" name="gender" [(ngModel)]="user.gender">
                        <div appearance="outline">
                            <div class="lable">
                                <mat-label>Gender</mat-label>
                            </div>
                            <mat-radio-group appFieldInput name="gender" [(ngModel)]="user.gender"
                                aria-label="Select an Gender">
                                <mat-radio-button color="primary" value="male">Male </mat-radio-button>
                                <mat-radio-button color="primary" value="female">Female </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </app-form-field>
                </div>
            </div>

            <div class="form-group">
                <div class="pr-4 col">
                    <app-form-field class="form-group" validation="required" name="status" [(ngModel)]="user.status">
                        <div class="lable">
                            <mat-label>Status</mat-label>
                        </div>
                        <mat-slide-toggle appFieldInput color="primary" class="example-margin" name="status"
                            (change)="user.status = ($event.checked ? 'active' : 'inactive')"
                            [checked]="user.status == 'active'"> Active </mat-slide-toggle>
                    </app-form-field>
                </div>
            </div>
            
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <div class="buttons">
            <button mat-stroked-button color="primary" (click)="matDialogRef.close()"> Close </button>
            <!--  <button mat-stroked-button color="warn" dialog-confirm message="Are you sure that you want to delete?"
                (confirm)="deleteUser(user?._id)"> DELETE </button> -->
            <button *ngIf="action !== 'edit'" mat-stroked-button color="accent" (click)="submit(f)"> ADD </button>
            <button *ngIf="action === 'edit'" mat-stroked-button color="accent" (click)="submit(f)"> SAVE </button>
        </div>
    </div>
</div>