<div id="users" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm (click)="toggleSidebar('users-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"> Roles </span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>
        
            <div class="search-wrapper mt-16 mt-sm-0">
        
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #datatabseSearchInput="ngModel" [(ngModel)]="searchInput" placeholder="Search for a role">
                </div>
        
            </div>
        
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="content">
                <div class="list-container">
                    <datatable #datatable [filterInput]="datatabseSearchInput" [value]="dataSource">
                       
                        <column field="name" header="Name"></column>
                        <column field="slug" header="Slug"></column>
                       
                        <column header="Action" [sortable]="false" [searchable]="false">
                            <ng-template let-row="rowData" dtTemplate="body">
                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                                    <mat-icon class="secondary-text">more_vert</mat-icon>
                                </button>
                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item type="button" (click)="editRole(row)">
                                        <mat-icon>edit</mat-icon> <span>Edit</span>
                                    </button>
                                    <button mat-menu-item dialog-confirm message="Are you sure that you want to delete?" (confirm)="deleteRole(row.id)">
                                        <mat-icon>delete</mat-icon> <span>Remove</span>
                                    </button>
                                </mat-menu>
                            </ng-template>
                        </column>
                    </datatable>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT-->

    <!-- ADD CONTACT BUTTON -->
    <div class="text-right mb-4 mr-4 ">
        <button mat-fab class="accent fix bottom right" (click)="newRole()" aria-label="add user"
            [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
            <mat-icon>person_add</mat-icon>
        </button>
    </div>
    <!-- / ADD CONTACT BUTTON -->
</div>

