<h2 mat-dialog-title *ngIf="data?.title">{{data?.title || "Alert"}}</h2>
<mat-dialog-content>
  {{ data?.message }}
</mat-dialog-content>
<mat-dialog-actions>
	<div class="buttons buttons-right">
  		<button class="outline-button" mat-stroked-button color="info" mat-dialog-close>{{data?.close || 'Ok'}}</button>
  	</div>
</mat-dialog-actions>

