.content{
   width: 95% !important; 
}
// .action-remove{
//    width: 5% !important; 
//    float: right;
//    position: absolute;
//    margin: -39px 5px 5px 800px;
// }

.action-remove{
    align-self: center !important;
    flex-shrink: 0 !important;
}

.filed-item {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    border-bottom: 1px !important; 
}