@import "src/@fuse/scss/fuse";
#settings{
    .content {
        overflow: auto;
        .content{
            width: 100%;
            form {
                width: 100%;
            }
        }
        

        .form-errors-model {
            flex: 1;

            code {
                background: none !important;
            }
        }

        .horizontal-stepper-wrapper,
        .vertical-stepper-wrapper {
            max-width: 800px;
        }
    }

}