<div id="main">
    <div class="height-100" fusePerfectScrollbar
        [fusePerfectScrollbarOptions]="{suppressScrollX: true, updateOnRouteChange : true}">
        <content class="height-100"></content>
    </div>
</div>