<div id="forget-password" fxLayout="column">

    <div id="forget-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <!-- <div class="logo m-20">
            <img src="assets/images/logos/logo.png">
        </div> -->
        <div id="forget-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

           

            <div class="title">FORGOT PASSWORD</div>

            <form name="forgotPassForm" [formGroup]="forgotPassForm" (ngSubmit)="doForgotPass()" novalidate>
             
                <http-message [data]="forgotPasswordResponse" [type]="forgotPasswordType"></http-message>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPassForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!forgotPassForm.get('email').hasError('required') &&
                                forgotPassForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="forgotPassForm.invalid">
                    FORGOT PASSWORD
                </button>
                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                    <a class="forgot-password" routerLink="/login"> Already Have Account? </a>
                </div>

            </form>

        </div>

    </div>

</div>