.card {
  min-height: 120px !important;
}
.custom-class-dashboard .d-block .huge {
    font-size: 32px !important;
}
.custom-class-dashboard .d-block {
    display: block !important;
    font-size: 18px !important;
}
.custom-class-dashboard .text-center {
    text-align: center !important;
    padding-top: 20px !important;
}